table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:100%;
  }
  th{
    background-color: #e9e5e5;
  }

  table, th, td {
     border: 1px solid #dddddd;
     text-align: left;
     padding: 15px;
    border-collapse: collapse;
  }
 
  /* .serif {
    font-family: "Times New Roman", Times, serif;
    color: rgb(175, 56, 175);
    display: inline-block;
    margin-top: 0%;
    margin-bottom: 0%;

    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
    
  } */

  .img{

    width: 50px;
    height: 50px;

    display: block;
  margin-left: auto;
  margin-right: auto;
  }

  .sansserif {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }

  p.light {
    font-weight: normal;
    color: lightslategray;
  }

 input{

  width: 50px;
  padding: 10px ;
    border-radius: 5px; 
    border: 1px solid dddddd;
 }


 .center {
  margin: auto;
  width: 80%;
 
  padding: 10px;
}





@media 
only screen and (max-width: 600px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
    display: block; 
    
  }
  table{
    padding: 0px;
  }
  
  	/* Hide table headers (but not display: none;, for accessibility) */
  thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
  }
  
 tr:nth-child(even){
  background-color: #f8f4f4;
 }




  td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid rgb(243, 239, 239); 
		position: relative;
    padding-left: 20%; 
   
  }

  tr td:first-child{
   padding-left:0px;

 margin-left: auto;
 margin-right: auto;
 text-align: center;
  }

  tr td:nth-child(2){
    padding-left:0px;
 
  margin-left: auto;
  margin-right: auto;
 
   }

  td p{
    text-align: right;
  }
  td input{
 
 margin-left: 85%;
  }

 


	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		
		left: 6px;
		width: 30%; 
		padding-right: 5px; 
    white-space: nowrap;
    content: attr(data-label);
    float: left;
    font-weight: bold;
    margin: 16px 0px;
    
  }


  

}
 